@font-face {
  font-family: 'Roboto-thin-100';
  src: url('./Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-thin-100-italic';
  src: url('./Roboto-ThinItalic.ttf');
}

@font-face {
  font-family: 'Roboto-light-300';
  src: url('./Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-light-300-italic';
  src: url('./Roboto-LightItalic.ttf');
}

@font-face {
  font-family: 'Roboto-regular-400';
  src: url('./Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-medium-500';
  src: url('./Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-medium-500-italic';
  src: url('./Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: 'Roboto-bold-700';
  src: url('./Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-bold-700-italic';
  src: url('./Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: 'Roboto-black-900';
  src: url('./Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto-black-900-italic';
  src: url('./Roboto-BoldItalic.ttf');
}
