@import "../../../../../variables";

ymrlk-forecast-day-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;

  &.is-opened {
    animation: fade-in 0.3s forwards;
  }

  .forecast-day-details-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

    .forecast-day-details-title-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $white-color-rgba-low-opacity;
      height: 50px;

      h4 {
        margin: 0;
        color: $white-color;
      }

      button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
          transition: 0.3s ease;

          path {
            fill: $white-color-rgba-low-opacity;
          }

        }

        &:hover {

          svg {
            path {
              fill: $white-color;
            }
          }

        }

      }

    }

    .forecast-day-details-content {
      height: 100%;

      .forecast-day-hours-weather-list {
        padding: 0;
        list-style: none;
        display: flex;
        margin: 10px 0 0 0;
        height: 100px;
        overflow-y: auto;

        li {
          display: flex;
          flex-direction: column;
          color: $white-color;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          min-width: 100px;
          padding: 10px 10px;
          background-color: $main-theme-color-rgba-with-low-opacity;
          transition: 0.3s ease-in;

          &.current-hour {
            background-color: $main-theme-color;
          }

          &:not(&:last-of-type) {
            border-right: 1px solid $white-color-rgba-low-opacity;
          }

          &:first-of-type {
            border-radius: 10px 0 0 10px;
          }

          &:last-of-type {
            border-radius: 0 10px 10px 0;
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $white-color;
            border: 3px solid $main-theme-color-rgba-with-low-opacity;
          }
        }
      }


      .forecast-day-details-card {
        background-color: $main-theme-color-rgba-with-low-opacity;
        box-shadow:
          0 2px 4px 0 rgba(0, 0, 0, .13),
          0 1px 1px 0 rgba(0, 0, 0, .11);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: space-between;

        >div {
          display: flex;
          align-items: center;
          position: relative;

          h4 {
            margin: 0;
            color: $white-color;
            font-size: 14px;

            &:first-of-type {
              margin-right: 10px;
            }
          }

          svg {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border-radius: 50%;
            border: 3px solid $main-theme-color;
            padding: 5px;

            path {
              fill: $white-color !important;
            }
          }

        }
      }

      .list-grid {
        display: flex;
        flex-direction: column;

        .list-grid-row {
          display: flex;
          gap: 10px;
          margin: 10px 0;

          .list-grid-item {
            display: flex;
            flex: 1;
            background-color: $main-theme-color-rgba-with-low-opacity;
            box-shadow:
              0 2px 4px 0 rgba(0, 0, 0, .13),
              0 1px 1px 0 rgba(0, 0, 0, .11);
            border-radius: 10px;
            height: 100px;
            padding: 10px;
          }

        }

      }

    }

  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
