@import "../../../variables";

ymrlk-weather {
  padding: 20px;

  .weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white-color;
    height: 100%;

    @media all and (max-width: $TabletBreakpoint) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .location {
      display: flex;
      flex-direction: column;
    }

    .temperature {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      width: 100%;

      h1 {
        margin: 0;
        position: relative;

        text-shadow: 10px 10px 25px $main-theme-color-rgba-with-low-opacity,
        -10px 10px 25px $main-theme-color-rgba-with-low-opacity,
        -10px -10px 25px $main-theme-color-rgba-with-low-opacity,
        10px -10px 25px $main-theme-color-rgba-with-low-opacity;

        &.separator {
          margin: 0 10px;
        }
      }

      >div {
        display: flex;
        align-items: center;

        &:last-of-type {
          button {
            border: none;
            background-color: transparent;
            width: 35px;
            height: 35px;
            cursor: pointer;
            transition: 0.3s ease;

            svg {
              path {
                fill: $white-color;
              }
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }

      }

    }

    h3 {
      display: inline-flex;
      align-items: center;
      margin: 0;

      img {
        margin-left: 10px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: $white-color;
        border: 3px solid $main-theme-color-rgba-with-low-opacity;
      }

      span {
        >span.time {
          color: $main-theme-color;
        }
      }
    }

    h4 {
      margin: 0;
    }
  }
}
