@import "../../../../../../../assets/styles/mixins/forecast-day-components-content.mixin";
@import "../../../../../../../variables";

ymrlk-wind-and-gust {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include forecast-day-components-content();

  .content {

    &.wind-and-gust-content {
      display: grid;
      grid-template-columns: 70% 30%;
      padding: 10px 0;

      @media all and (max-width: $HandsetBreakpoint) {
        display: flex;

        .wind-and-gust-degrees {
          margin-bottom: 5px;
        }
      }

      .wind-and-gust-degrees {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          display: flex;
          flex-direction: column;
          position: relative;
          flex: 1;

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white-color;
            font-size: 24px;

            span {
              font-size: 12px;

              &:last-of-type {
                color: $white-color-rgba-low-opacity;
              }

            }
          }

        }
      }

      .wind-direction {
        display: flex;
        align-items: center;
        justify-content: center;

        .wind-dir-circle {
          width: 100px;
          height: 100px;
          border-radius: 100%;
          border: 2px dashed $main-theme-color;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);

          .mark {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            transition: all 0.3s ease 0s;

            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              border-radius: 50%;
              width: 2px;
              height: 50%;
              background-color: $main-theme-color;
              border: 1px solid $white-color;
            }
          }

          span {
            position: absolute;
            font-size: 10px;
            color: $white-color-rgba-low-opacity;

            &:nth-child(1) {
              top: 0;
              left: 50%;
              transform: translateX(-50%);
            }

            &:nth-child(2) {
              top: 50%;
              transform: translate(-50%, -50%);
              right: 0;
            }

            &:nth-child(3) {
              bottom: 0;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &:nth-child(4) {
              top: 50%;
              left: 0;
              transform: translate(50%, -50%);
            }
          }

          .wind-direction-label {
            width: 50px;
            height: 50px;
            background-color: $main-theme-color;
            border: 1px solid $white-color-rgba-low-opacity;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: $white-color;
            z-index: 111;
          }
        }
      }

    }

  }
}
