@import "../../../variables";

ymrlk-weather-details {
  backdrop-filter: blur(10px) brightness(0.5);
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 15px 0 10px -20px rgba(0, 0, 0, 0.3) inset;
  overflow: hidden;
  width: 450px;
  position: relative;

  @media all and (max-width: $TabletBreakpoint) {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .weather-details-container {
    padding: 0 15px;
    display: grid;
    grid-template-rows: 50px calc(100% - 50px);
    height: 100%;

    .scrollable-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }
  }

}
