@import "../../../../../variables";

ymrlk-searchbar {
  display: block;
  z-index: 111;

  .searchbar-container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    input {
      height: 100%;
      width: 100%;
      border: none;
      background: transparent;
      border-bottom: 1px solid $white-color-rgba-low-opacity;
      outline: none;
      border-radius: 0;
      color: $white-color;

      &:focus {
        border-bottom: 1px solid $white-color;
      }

      &::placeholder {
        color: $white-color;
      }
    }

    button {
      background-color: transparent;
      border: none;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
        transition: 0.3s ease;

        path {
          fill: $white-color-rgba-low-opacity;
        }

      }

      &:hover {

        svg {
          path {
            fill: $white-color;
          }
        }

      }

    }

    .simple-loader {
      width: 20px;
      height: 20px;
      border: 5px dotted $white-color;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 2s linear infinite;
      position: absolute;
      right: 0;
    }

  }

  .searched-places-container {
    list-style: none;
    padding: 0;
    background-color: $white-color;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13),
    0 1px 1px 0 rgba(0, 0, 0, 0.11);

    li {
      height: 35px;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s ease-in;

      span {
        padding-left: 10px;
      }

      &:hover {
        background-color: $main-theme-color-rgba-with-low-opacity;
      }
    }
  }

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
