@import "../../../../../variables";

ymrlk-weather-forecast {

  .weather-forecast-container {

    h4 {
      margin: 0;
      color: $white-color;
    }

    .weather-forecast-list {
      list-style: none;
      background-color: $main-theme-color-rgba-with-low-opacity;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13),
      0 1px 1px 0 rgba(0, 0, 0, .11);
      border-radius: 10px;
      padding: 10px;
      margin-top: 5px;
      transition: 0.3s ease-in;

      &:hover {
        background-color: $main-theme-color;
        cursor: pointer;
      }

      li {
        margin-top: 10px;
        display: flex;
        align-items: center;

        &:first-of-type {
          margin: 0;
          padding-bottom: 5px;
          border-bottom: 1px solid $white-color-rgba-low-opacity;

          span {
            font-family: Roboto-medium-500, sans-serif;
          }

        }

        svg {
          width: 32px;
          height: 23px;

          path {
            fill: $white-color;
          }
        }

        span {
          color: $white-color;
          font-family: Roboto-thin-100, sans-serif;
          margin-left: 5px;

          > span {
            font-family: Roboto-medium-500, sans-serif;
            margin-left: 5px;
          }

          b {
            color: $main-theme-color;
            font-family: Roboto-medium-500, sans-serif;
            margin-left: 5px;
          }
        }

        img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          background-color: $white-color;
          border: 3px solid $main-theme-color-rgba-with-low-opacity;
        }

      }
    }

  }

}
