<ymrlk-loader *ngIf="!(weatherData && backgroundImage)"></ymrlk-loader>

<div class="weather-app-container"
     *ngIf="weatherData && backgroundImage">

  <div class="weather-card"
       [ngStyle]="{ 'background-image': 'url('+ backgroundImage.src.landscape +')' }">

    <ymrlk-weather [weatherData]="weatherData"></ymrlk-weather>
    <ymrlk-weather-details [weatherData]="weatherData"
                           (selectedPlace)="getWeatherByPlace($event)"></ymrlk-weather-details>

  </div>

</div>
