@import "../variables";

.weather-app-container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .weather-card {
    width: 75%;
    height: 90%;
    display: grid;
    grid-template-columns: calc(100% - 450px) 450px;
    border-radius: 10px;
    box-shadow:
            0 2px 4px 0 rgba(0, 0, 0, .13),
            0 1px 1px 0 rgba(0, 0, 0, .11);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: all 0.3s ease-out;

    @media all and (max-width: $TabletBreakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 95%;
      height: 95%;
    }

  }
}
