<ymrlk-loader *ngIf="!(weatherData && backgroundImage)"></ymrlk-loader>

<div class="weather-app-container"
     *ngIf="weatherData && backgroundImage">

    <div class="weather-card"
         [ngStyle]="{ 'background-image': 'url('+ backgroundImage.src.large2x +')' }">

        <!-- ymrlk-weather -->
        <!-- ymrlk-weather-details -->
        <!-- ymrlk-weather-details / ymrlk-searchbar -->
        <!-- ymrlk-weather-details / ymrlk-weather-current-info -->
        <!-- ymrlk-weather-details / ymrlk-weather-forecast -->
        <!-- ymrlk-weather-details / ymrlk-weather-forecast / ymrlk-day-details  -->

        <ymrlk-weather></ymrlk-weather>
        <ymrlk-weather-details></ymrlk-weather-details>

    </div>

</div>
