@import "../variables";

.weather-app-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .weather-card {
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow:
            0 2px 4px 0 rgba(0, 0, 0, .13),
            0 1px 1px 0 rgba(0, 0, 0, .11);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: 0.5s ease;

    @media all and (max-width: $TabletBreakpoint) {
      flex-direction: column;
      justify-content: flex-start;
      width: 95%;
      height: 95%;
    }

  }
}
