@import "../../../../../../../assets/styles/mixins/forecast-day-components-content.mixin";

ymrlk-precipitation {
  display: flex;
  width: 100%;
  flex-direction: column;

  @include forecast-day-components-content();

}
